{% extends "base.html" %}

{% block title %}HomePage - Wikipedia{% endblock %}
{% block page_title %}HomePage{% endblock %}

{% block content %}
<p class="welcome-text">
    <strong>Welcome</strong> to <a href="#">Wikipedia</a>, a collaborative project to produce a complete encyclopedia from scratch. 
    We started in January 2001 and already have <strong>over 8,000 articles</strong>. We want to make over 100,000, so let's get to work--
    <em>anyone</em> can edit any page--copyright, write a little, write a lot. See <a href="#">the Wikipedia FAQ</a> for information 
    on how to edit pages and other questions. If you're visiting Wikipedia for the first time, <a href="#">welcome</a>! 
    <em>The content of Wikipedia is covered by the <a href="#">GNU Free Documentation License</a>.</em>
</p>

<h2 class="section-heading">Philosophy, Mathematics, and Natural Science</h2>
<p>
    <a href="/wiki/Astronomy">Astronomy and Astrophysics</a> -- <a href="/wiki/Biology">Biology</a> -- 
    <a href="/wiki/Chemistry">Chemistry</a> -- <a href="/wiki/Earth">Earth Sciences</a> -- 
    <a href="/wiki/Mathematics">Mathematics</a> -- <a href="/wiki/Philosophy">Philosophy</a> -- 
    <a href="/wiki/Physics">Physics</a> -- <a href="/wiki/Science">Science</a> -- 
    <a href="/wiki/Statistics">Statistics</a>
</p>

<h2 class="section-heading">Social Sciences</h2>
<p>
    <a href="/wiki/Anomalous">Anomalous Phenomena</a> -- <a href="/wiki/Anthropology">Anthropology</a> -- 
    <a href="/wiki/Archaeology">Archaeology</a> -- <a href="/wiki/Countries">Countries of the world</a> -- 
    <a href="/wiki/Economics">Economics</a> -- <a href="/wiki/Geography">Geography</a> -- 
    <a href="/wiki/History">History</a> -- <a href="/wiki/Science">History of Science and Technology</a> -- 
    <a href="/wiki/Language">Language</a> -- <a href="/wiki/Linguistics">Linguistics</a> -- 
    <a href="/wiki/Politics">Politics</a> -- <a href="/wiki/Psychology">Psychology</a> -- 
    <a href="/wiki/Sociology">Sociology</a>
</p>

<h2 class="section-heading">Applied Arts and Sciences</h2>
<p>
    <a href="/wiki/Agriculture">Agriculture</a> -- <a href="/wiki/Architecture">Architecture</a> -- 
    <a href="/wiki/Business">Business and Industry</a> -- <a href="/wiki/Communication">Communication</a> -- 
    <a href="/wiki/Computer">Computing</a> -- <a href="/wiki/Education">Education</a> -- 
    <a href="/wiki/Engineering">Engineering</a> -- <a href="/wiki/Family">Family and Consumer Science</a> -- 
    <a href="/wiki/Health">Health Sciences</a> -- <a href="/wiki/Law">Law</a> -- 
    <a href="/wiki/Library">Library and Information Science</a> -- <a href="/wiki/Public">Public Affairs</a> -- 
    <a href="/wiki/Technology">Technology</a> -- <a href="/wiki/Transport">Transport</a>
</p>

<h2 class="section-heading">Culture</h2>
<p>
    <a href="/wiki/Classics">Classics</a> -- <a href="/wiki/Critical">Critical Theory</a> -- 
    <a href="/wiki/Dance">Dance</a> -- <a href="/wiki/Entertainment">Entertainment</a> -- 
    <a href="/wiki/Film">Film</a> -- <a href="/wiki/Games">Games</a> -- <a href="/wiki/Hobbies">Hobbies</a> -- 
    <a href="/wiki/Literature">Literature</a> -- <a href="/wiki/Music">Music</a> -- 
    <a href="/wiki/Opera">Opera</a> -- <a href="/wiki/Painting">Painting</a> -- 
    <a href="/wiki/Performing">Performing Arts</a> -- <a href="/wiki/Recreation">Recreation</a> -- 
    <a href="/wiki/Religion">Religion</a> -- <a href="/wiki/Sculpture">Sculpture</a> -- 
    <a href="/wiki/Sports">Sports</a> -- <a href="/wiki/Theater">Theater and Drama</a> -- 
    <a href="/wiki/Tourism">Tourism</a> -- <a href="/wiki/Visual">Visual Arts and Design</a>
</p>

<h2 class="section-heading">Other Category Schemes</h2>
<p>
    <a href="/wiki/About">About Wikipedia category schemes</a> -- <a href="/wiki/Library">Library of Congress catalog scheme</a> -- 
    <a href="/wiki/Dewey">Dewey Decimal System</a> -- <a href="/wiki/Wikipedia">Wikipedia arranged by topic</a> -- 
    <a href="/wiki/Historical">Historical anniversaries</a> -- <a href="/wiki/Reference">Reference tables</a> -- 
    <a href="/wiki/Biographical">Biographical Listing</a>
</p>

<h2 class="section-heading">International Wikipedias</h2>
<p>
    <a href="#">About the international Wikipedias</a> -- <a href="#">[Catalan (Català)]</a> -- 
    <a href="#">[Chinese (Hanyu)]</a> -- <a href="#">[German (Deutsch)]</a> -- 
    <a href="#">[Esperanto]</a> -- <a href="#">[French (Français)]</a> -- 
    <a href="#">[Hebrew (Ivrit)]</a> -- <a href="#">[Italian (Italiano)]</a> -- 
    <a href="#">[Japanese (Nihongo)]</a> -- <a href="#">[Portuguese (Português)]</a> -- 
    <a href="#">[Russian (Russkiy)]</a> -- <a href="#">[Spanish (Castellano)]</a> -- 
    <a href="#">[Swedish (Svensk)]</a>
</p>

<h2 class="section-heading">Wikipedia</h2>
<p><strong>Project info:</strong> 
    <a href="#">Announcements</a> -- <a href="#">FAQ</a> -- <a href="#">Policy</a> -- 
    <a href="#">Feature requests</a> -- <a href="#">Bug reports</a> -- <a href="#">Mailing list</a> -- 
    <a href="#">Wikipedia and Nupedia</a> -- <a href="#">Wikipedians</a> -- <a href="#">Sandbox</a>
</p>
<p><strong>Article pointers:</strong> 
    <a href="#">Article news</a> -- <a href="#">New topics</a> -- <a href="#">Brilliant prose</a>
</p>
<p><strong>Content requests:</strong> 
    <a href="#">Requested articles</a> -- <a href="#">Help desk</a>
</p>
<p><strong>Useful resources for us:</strong> 
    <a href="#">Public domain resources</a> -- <a href="#">Wikipedians' essays</a>
</p>
{% endblock %}



