{% extends "base.html" %}

{% block title %}Browse News - News{% endblock %}

{% block content %}
<!-- Browse Header -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr><td>
<font size="4"><b>Browse All News Articles</b></font>
<br>
<font size="2" color="#666666">
Showing page {{ page }} of {{ total_pages }}
</font>
</td></tr>
</table>

<br>

<!-- Articles List -->
{% for article in articles %}
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr><td>
<font size="2">
<a {% if article.title|is_external_link %}target="_blank" rel="noopener noreferrer"{% endif %} href="{{ article.title|article_url }}" style="color: #000099; text-decoration: underline;">{{ article.title }}</a>
{% if article.date %}
<br><font size="1" color="#666666">{{ article.date.strftime('%B %d, %Y') if article.date else 'Unknown date' }}</font>
{% endif %}
</font>
</td></tr>
</table>
{% if not loop.last %}
<hr size="1" color="#cccccc">
{% endif %}
{% endfor %}

<br><br>

<!-- Pagination -->
{% if total_pages > 1 %}
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr><td style="text-align: center;">
<font size="2">

<!-- Previous link -->
{% if page > 1 %}
<a href="/browse?page={{ page - 1 }}" style="color: #000099; text-decoration: underline;">[Previous]</a>
{% else %}
<span style="color: #999999;">[Previous]</span>
{% endif %}

&nbsp;&nbsp;

<!-- Page numbers as boxes -->
{% set start_page = [1, page - 4]|max %}
{% set end_page = [total_pages, page + 4]|min %}

{% for p in range(start_page, end_page + 1) %}
    {% if p == page %}
    <span style="background-color: #000099; color: #FFFFFF; padding: 2px 6px; margin: 0 1px; border: 1px solid #000099;">[{{ p }}]</span>
    {% else %}
    <a href="/browse?page={{ p }}" style="color: #000099; text-decoration: none; border: 1px solid #000099; padding: 2px 6px; margin: 0 1px; background-color: #FFFFFF;">[{{ p }}]</a>
    {% endif %}
{% endfor %}

{% if end_page < total_pages %}
<span style="padding: 0 3px;">...</span>
<a href="/browse?page={{ total_pages }}" style="color: #000099; text-decoration: none; border: 1px solid #000099; padding: 2px 6px; margin: 0 1px; background-color: #FFFFFF;">[{{ total_pages }}]</a>
{% endif %}

&nbsp;&nbsp;

<!-- Next link -->
{% if page < total_pages %}
<a href="/browse?page={{ page + 1 }}" style="color: #000099; text-decoration: underline;">[Next]</a>
{% else %}
<span style="color: #999999;">[Next]</span>
{% endif %}

</font>
</td></tr>
</table>
{% endif %}

{% endblock %}