.bodytext { }
h1.pagetitle {
 padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0;
}
p.subtitle { padding-top: 0; margin-top: 0; }
a.interwiki, a.external { color: #3366BB; }
body { margin: 0px; padding: 4px; }
a.stub { color:#772233; text-decoration:none; }
a.printable { text-decoration: underline; }
form.inline { display: inline; }
#content { position: absolute; top: 0;  margin: 0; padding: 0; }
#topbar { padding: 4px; }
td.top { border-bottom: 2px solid #000000; }
#quickbar { width: 140px; padding: 4px; visibility: visible; z-index: 99; }
#article { padding: 4px; }
#footer { padding: 4px; }
td.bottom { border-top: 2px solid #000000; }
h2, h3, h4, h5, h6 { margin-bottom: 0; }

/*
     FILE ARCHIVED ON 18:38:17 Oct 09, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:13:06 Oct 26, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.486
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 8.812
  LoadShardBlock: 110.073 (3)
  PetaboxLoader3.datanode: 109.0 (4)
  load_resource: 49.289
  PetaboxLoader3.resolve: 23.332
*/